.body {
  background-color: rgb(192, 22, 22);
}
.in__margin {
  margin-left: 20px;
  margin-right: 20px;
}

.centered__itemInfo {
  margin: auto;
}

.page__title {
  text-align: center;
  margin-top: 15px;
}
