.home {
  /* display: flex;
  margin-top: -30px;
  justify-content: space-between;
  align-items: center;
  width: 100%; */
}

.left__component {
  height: 300px;
  padding: 15px;
  width: auto;
  height: 400px;
  margin-top: 50px;
  overflow-x: scroll;
  overflow-y: hidden;
  /* background-color: tomato; */
}

.right__component {
  height: 400px;
  overflow-x: scroll;
  overflow-y: hidden;
  /* background-color: tomato; */
  margin-top: 50px;
  padding: 15px;
  width: auto;
}
