.item__card {
  background-color: rgb(255, 255, 255);
  width: 20vw;
  height: 450px;
  border-radius: 10px;
  margin: 20px;
  overflow: hidden;
  margin-right: 7px;
  margin-left: 7px;
  box-shadow: 0px 6px 18px -9px rgb(0, 0, 0, 0.75);
}
/* 
.grid__container {
  background-color: rgb(28, 68, 121);
} */
.item__card:hover {
  transform: scale(1.02);
  transition: transform 350ms;
}

.items__grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-left: auto;
  background-color: turquoise;
  padding-top: 5px;
}

.image__card {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
  cursor: pointer;
}

.link {
  cursor: pointer;
  margin-left: 25px;
  margin-top: 10px;
}

.item__card > h3 {
  margin-top: 10px;
  margin-left: 15px;
}
.item__card > p {
  margin-top: 10px;
  margin-left: 25px;
}
