.message {
  background-color: blueviolet;
  border-radius: 15px;
  padding: 15px;
  max-width: 200px;
  margin-left: 10px;
  margin-top: 10px;
}

.message > p {
  margin-left: 10px;
}

.sender {
  font-size: 13px;
}
