.user__profile {
  /* background-color: darkmagenta; */

  height: 200px;
  height: auto;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
}

.review__card {
  background-color: lightsteelblue;
  padding: 15px;
  width: 150px;
}
