.user__profile {
  /* background-color: darkmagenta; */

  height: 200px;
  height: auto;
  border-radius: 15px;
  margin: 20px;
  padding: 20px;
}

.review__card {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  margin-left: 25px;
  padding-top: 5px;
  background-color: rgb(17, 74, 148);
  padding: 15px;
  /* width: auto; */
  /* height: fit-content; */
}
